.header {
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0rem;
    background-color: rgba(3, 2, 47, 0.656);
}

h1{
    color: #fff; 
    font-size: 25px;  
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}